@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
:root{
    --purple : #7E98DF;
    --lightpurple :#99b0f0;
}
body{
    font-family: 'Rubik', sans-serif;
}

.bg-purple{
    background-color: var(--purple);
}
.bg-circle{
    background-color: var(--purple);
    border-radius: 100%;
    padding: 1em;
    width: 200px;
    height: 200px;
}
.splashscreen{
	display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.active{
    background-color: var(--purple);
    width: 50%;
    border-radius: 50px;
}
.auth{
    margin-top: 5vh;
    margin-bottom: 5vh;
    border-radius: 20px;
    min-height: 100vh;
    border: none;
}
.text-plus{
    font-size: 2em;
    font-weight: 0;
}
.text-line {
    width: 100%;
    background-color: transparent;
    border-radius: 0;
    outline: none;
    outline-style: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid #000000 1px;
    padding: 1vh 10px;
}
.back-btn{
    z-index: 1;
    outline: none;
    border: none;
    background: none;
    cursor: pointer;
    color: var(--purple);
}
.toogle-btn{
    position: relative;
    z-index: 1;
    float: right;
    outline: none;
    border: none;
    background: none;
    top: -40px;
    cursor: pointer;
    padding: 0;
    margin: 0;
}
.text-password{
    width: 100%;
    border-radius: 0;
    background-color: transparent;
    outline: none;
    outline-style: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid #000000 1px;
    margin-bottom: 1vh;
    letter-spacing: 0.5em;
}
.text-purple{
    color: var(--purple);
    text-decoration: none;
}
.btn-purple{
    color: white;
    background-color: var(--purple);
    transition: 1.0s;
}
.btn-outline-purple{
    color: var(--purple);
    border: 1px solid var(--purple);
    transition: 1.0s;
}
input.text-line:focus, input.text-password:focus{
    outline: none;
    box-shadow: none;
    border-color: none;
    background: none !important;
}
.btn-outline-purple:hover{
    color: white;
    background-color: var(--purple);
}
.btn-purple:hover{
    color: black;
    background-color: var(--lightpurple);
}

@media (max-width: 1024px){
    .auth{
        margin: 0;
        padding: 0;
        min-height: 100vh;
        border-radius: 0px;
        overflow: hidden;
    }
}
@media (max-width: 768px){
    main{
        display: none;
    }
}